<div class="main posts-index">
  <div class="container">
    <div class="user-info">
      <% if @user.user_image_name %>
        <%= image_tag(@user.user_image_url(:standard)) %>
      <% else %>
        <p style="font-size: 50px"><i class="fas fa-user" ></i></p>
      <% end %>
      <P style="font-size: 50px"> <%= @user.name %> </P>
      <% if current_user %>
        <% if @user.id === current_user.id %>
          <%= link_to "Edit your image", "/user/#{@user.id}/edit", style:"font-size: 15px; color: rgba(0,0,0,0.6)" %>
        <% end %>
      <% end %>
    </div>
    <% @user_posts.each do |user_post| %>
      <div class="posts-each">

        <%= render "application/post", post: user_post %>

      </div>
    <% end %>
  </div>
</div>