<div class="posts-each-user-info">
  <% if !post.user.user_image.blank? %>
    <%= image_tag(post.user.user_image_url(:thumbnail), class:"posts-each-user-image", style:"width:8%") %>
  <% else %>
    <i class="fas fa-user" ></i>
  <% end %>
  <%= link_to(post.user.name, "/users/#{post.user.id}", class:"btn link-user") %>
</div>
<% if post.post_image_name %>
  <div class="posts-each-photo">
    <%= image_tag(post.post_image_url, style:"width:100%") %>
  </div>
<% end %>
<div class="posts-each-content">
  <%= post.content %>
</div>
