<div class="main about">
  <div class="about-header"></div>
  <div class="container">
    <div class="about-object">
      <h3>Note:</h3>
      <p>This web page is a my trial for improving my web skills.<br>
      For this reason, some of contents have been limited to use by Administrator.<br>
      And they may be changed, terminated or deleted without any notice. <br>
      Thank you!</p>
    </div>
    <div class="about-contents-guide"><!--
    --><div class="about-contents-guide-each"><a href="#about-myphoto" onclick="return false;">About MyPhoto</a></div><!--
    --><div class="about-contents-guide-each"><a href="#why-is-myphoto" onclick="return false;">Why is MyPhoto?</a></div><!--
    --><div class="about-contents-guide-each"><a href="#location" onclick="return false;">Location</a></div><!--
    --><div class="about-contents-guide-each"><a href="#blog" onclick="return false;">Blog</a></div><!--
 --></div>
    <div class="about-contents">
      <div id="about-myphoto" class="about-contents-each">
        <h2>About MyPhoto</h2>
      </div>
      <div id="why-is-myphoto" class="about-contents-each">
        <h2>Why is MyPhoto</h2>
      </div>
      <div id="location" class="about-contents-each">
        <h2>Location</h2>
      </div>
      <div id="blog" class="about-contents-each">
        <h2>Blog</h2>
      </div>
    </div>
  </div>

</div>