<div class="main new-post">
  <div class="container">
    <%= form_tag("/posts/create", {multipart: true}) do %>
    <div class="new-post-form">
      <div class="new-post-userinfo">
        <img src="">
        <%= session[:user_name] %>
      </div>
      <div class="new-post-text">
        <input name="post_image" type="file">
<%
=begin
f.hidden_field :post_image_cache
=end
%>
        <textarea name="content" type="text"></textarea>
      </div>
      <div class="new-post-submit">
        <input type="submit" value="Tweet!">
      </div>
    </div>
    <% end %>
  </div>
</div>