<div class="header-left">
  <%= link_to("MyPhoto", "/", {style: ["font-size: 20px;"]}) %>
</div>
<div class="header-right">
  <span id="menu-bar">
    <i class="fas fa-bars"></i>
  </span>
</div>
<div class="header-fixed-contents">
  <%= render "application/menu_contents" %>
</div>
